body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: Georgia, Times, Serif;;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

img {
  border: none;
}

a { color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
}

#menu {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

#menu li {
  padding-right: 5px;
  float: left;
}

#menu li:last-child {
  float: none;
  clear: right;
}
  

ul.lighttable {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}

.lighttable li {
  padding: 10px;
  margin-bottom: 10px;
  margin-right:  10px;
  width: 150px;
  height: 250px;
  float: left;
  background-color: #DDD;
}

.lighttable li div.thumb {
  width: 150px;
  height: 100px;
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}

.lighttable li p.title {
  height: 15px;
  overflow: hidden;
  text-align: center;
}

.lighttable li p.video {
  height: 35px;
  overflow: hidden;
}

a.delete {
  background-image: url('/images/tango/22x22/actions/edit-delete.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  padding-left: 27px;
}

a.video {
  background-image: url('/images/tango/22x22/mimetypes/video-x-generic.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  padding-left: 27px;
}

.textinput {
  width: 300px;
}

/**** SWFUpload progress bar styles *************************************/

div.uploadStatus {
  margin: 5px;
}
 
div.progressBar {
  margin: 5px;
}
 
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
 
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
 
.progressWrapper {
  width: 357px;
  overflow: hidden;
}
.progressContainer {
  margin: 5px;
  padding: 4px;
  
  border: solid 1px #E8E8E8;
  background-color: #F7F7F7;
  
  overflow: hidden;
}
 
.progressName {
  font-size: 8pt;
  font-weight: bold;
  color: #555555;
  
  width: 323px;
  height: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
  font-size: 0px;
  width: 0%;
  height: 2px;
  background-color: blue;
  margin-top: 2px;
}
.progressBarComplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
.progressBarError {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.progressBarStatus {
  margin-top: 2px;
  width: 337px;
  font-size: 7pt;
  font-family: Verdana;
  text-align: left;
  white-space: nowrap;
}
a.progressCancel,
a.progressCancel:link,
a.progressCancel:active,
a.progressCancel:visited,
a.progressCancel:hover
{
  font-size: 0px;
  display: block;
  height: 14px;
  width: 14px;
 
  background-image: url(/images/cancelbutton.gif);
  background-repeat: no-repeat;
  background-position: -14px 0px;
  float: right;
}
a.progressCancel:hover
{
  background-position: 0px 0px;
}
