body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: Georgia, Times, Serif;;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

img {
  border: none;
}

a { color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.table {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
}

#menu {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

#menu li {
  padding-right: 5px;
  float: left;
}

#menu li:last-child {
  float: none;
  clear: right;
}
  

ul.lighttable {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}

.lighttable li {
  padding: 10px;
  margin-bottom: 10px;
  margin-right:  10px;
  width: 150px;
  height: 250px;
  float: left;
  background-color: #DDD;
  text-align: center;
}

.lighttable li div.thumb {
  width: 150px;
  height: 150px;
  padding: 0px;
  vertical-align: middle;
}

.lighttable li p.title {
  height: 50px;
  overflow: hidden;
}

.lighttable li p.action {
  height: 50px;
}

.textinput {
  width: 300px;
}


