%h1= "Showing photo &laquo;#{h(@photo.name)}&raquo;"

%h3 Category
=link_to h(@category.title), category_path(@category)

%h3 Description
= h(@photo.description)

%h3 Scaled image for gallery display
=image_tag(@photo.public_filename(:gallery))

%h3 Original image
=image_tag(@photo.public_filename)

%p
  =link_to "Back to #{h(@category.title)}", category_photos_path(@category)
