%h1 Category
  
%ul
  -@categories.each do |cat|
    %li
      = link_to cat.title, category_path(cat)
      ,
      = pluralize cat.photos.count, 'Photo'
      [
      = link_to 'html', category_path(cat)
      ] [
      = link_to 'xml', formatted_category_path(:id => cat, :format => :xml)
      ]

